<% if user_signed_in? %>
         <% if current_user.email == "admin@naver.com"%>
<div class="container" style="min-height:1100px; margin-top:70px;">
   <div class="main_title normal-font" >
        <h2 style="text-align:left;">행사 수정</h2>
   </div>
     <form action= "/home/exhi_edit_com/<%=@gongmos.id%>" method= "POST"  enctype="multipart/form-data" accept-charset="UTF-8">
         <div class="mir_input_div">
             <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
             <div class="mir_input1">
                 <input type="text" value="<%=@gongmos.name%>" placeholder="행사 제목을 입력해주세요" style="padding-left:10px;" class="inquire_name" name="name">
             </div>
             <div class="mir_input1">
                <input type="text" value="<%=@gongmos.name_c%>" placeholder="중문 행사 이름을 입력해주세요" style="padding-left:10px;" class="inquire_name" name="name_c">
             </div>
             <div class="mir_input1">
                 <select class="form-control" value="<%=@gongmos.condition%>" name="condition" style="margin-left:15px; width:80%; margin-top:10px;">
            	  <option>current</option>
            	  <option>upcoming</option>
            	  <option>past</option>
            	</select>
             </div>
             <div class="mir_input1">
                 <p class="date_title">행사 시작 날짜</p>
                  <div id="datepicker_sta" class="input-group date date_mir" data-date-format="yyyy-mm-dd">
                        <input class="form-control" value="<%=@gongmos.period_sta%>" name="period_sta" style="background-color:white;" type="text" readonly />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
             </div>
             <div class="mir_input1">
                  <p class="date_title">행사 종료 날짜</p>
                  <div id="datepicker_end" class="input-group date date_mir" data-date-format="yyyy-mm-dd">
                        <input class="form-control" value="<%=@gongmos.period_end%>" name="period_end" style="background-color:white;" type="text" readonly />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
             </div>
             <div class="mir_input2">
                <textarea rows="10" placeholder="내용을 입력해주세요" style="padding-left:10px;" class="inquire_content" name="content"><%=@gongmos.content%></textarea>
             </div>
             <div class="mir_input2">
                <textarea rows="10" placeholder="중문 내용을 입력해주세요" style="padding-left:10px;" class="inquire_content" name="contentc"><%=@gongmos.content_c%></textarea>
             </div>
              <button type="submit" class="btn btn-success" style="margin:10px auto">수정하기</button>
         </div>
     </form>
</div>

<% end %>
<% end %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js" %>
<%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" %>

<script>
$(function () {
  $("#datepicker_sta").datepicker({
        autoclose: true,
        todayHighlight: true
  }).datepicker('update', new Date());;
});

$(function () {
  $("#datepicker_end").datepicker({
        autoclose: true,
        todayHighlight: true
  }).datepicker('update', new Date());;
});
</script>
