<div class="container"  style="height:1100px; margin-top:70px;">
    <div class="main_title normal-font">
        <h2><a href="/home/news" style="color:black;">NEWS</a></h2>
    </div>
    <div class="detail_title">
        <h3><%= @news.title %></h3>
        <a href="/home/news_edit/<%=@news.id%>">Edit</a>
    </div>
    <div class="detail_day">
        <p>등록일: <%= @news.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d") %></p>
        <p>조회수: <%= @news.count %></p>
    </div>
    <div class="detail_content">
        <%= image_tag @news.news_pic %>
        <div class="detail_p">
            <p><%= @news.content %>
            </p>
        </div>
    </div>
    <div class="detail_title">
    </div>
    <!--# <div class="prev_next">-->
    <!--#     <a><strong>이전글</a>-->
    <!--#     <a><strong>다음글</strong></a>-->
    <!--# </div>-->
</div>