<div class="container" style="height:800px; margin-top:80px;">
    <div class="main_title normal-font">
        <h2 style="text-align:left;">NEWS</h2>
    </div>
<table class="table">
         <thead>
         <tr class="table_head_row">
         <th class="table_head_num">번호</th>
         <th class="table_head_title">제목</th>
         <th class="table_head_day">등록일</th>
         <th class="table_head_day">조회수</th>
         </tr>
         </thead>
         <tbody>
              <% @news.each do |n| %>
              <tr class="table_con_row">
              <td class=""><%= n.id %></td>
              <td><a href="/home/news_detail/<%=n.id%>"><%= n.title %></td>
              <td class=""><%= n.created_at.in_time_zone("Asia/Shanghai").strftime("%Y-%m-%d") %></td>
              <td><%= n.count %></td>
              </tr> 
              <% end %>
         </tbody>
     </table>
     <div class="pagination_div"><%= will_paginate @news, :previous_label => t("<<"), :next_label => t(">>")%></div>
</div>